@import "normalize";
* {
    box-sizing: border-box;
}
body {
    background: #fdde7e;
    font-family: arial;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 39px;
}
.box {
    margin-top: 39px;
    width: 359px;
    margin: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
}
.headers {
    color: #02995b;
    font-size: 70px;
}
.text {
    color: #333333;
    font-size: 56px;
}
.paragraph {
    font-size: 20px;
    color: #333333;
    font-family: Lato;
}
.bronze:hover, .gold:hover, .silver:hover {
    margin-top: -10px;
    margin-bottom: -10px;
    transition: .4s all ease;
}